body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 25px;
  background-color: rgb(161, 236, 211);
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(44, 44, 44);
  box-shadow: 2px 2px 2px rgb(116, 116, 116);
}

section.main {
  flex: 1;
}

table.score {
  margin: 35px auto;
  width: 60%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px 16px;
  margin: 8px auto;
  border-bottom: 1px solid rgb(156, 165, 160);
  border-top: 1px solid rgb(156, 165, 160);
  text-align: center;
}

div.input_box {
  width: 60%;
  margin: 12px auto;
}

div input {
  padding: 8px 14px;
  border-radius: 1em;
  margin: 8px 10px;
  width: 16%;
}

input:focus {
  background-color: #ddd;
}

div button {
  padding: 10px 16px;
  margin: 8px 14px;
  border-radius: 1em;
  background-color: rgb(109, 202, 171);
  color: white;
  border: none;
  white-space: nowrap;
}

div button:hover {
  cursor: pointer;
}

footer {
  background-color: rgb(201, 201, 201);
  color: black;
  text-align: center;
}
